@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    text-align: center;
    padding: 0px;
    margin: auto;
    background-color: #FF3A20;
  
}

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #ff3a20;
    --sb-size:10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius:0px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius:0px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


#sosyalmedya {
    height: fit-content;
    width: fit-content;
    padding:5px;
    position: fixed;
    top: 50%;
    right:0px !important;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

#sosyalmedya > a > img {
    height:30px;
    width: 30px;
    cursor: pointer;
}

#sosyalmedya > a > img:hover {
    transform: scale(1.1);
    transition: 300ms ease;
}

#menu {
    position: fixed;
    top: 0;
    height:60px;
    width: 100%;
    background-color:rgba(0,0,0,0.9);
    padding: 0px;
}

#menu > ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu > ul > li {
    display: inline-block;
}

#menu > ul > li > a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 5px;
    color: #F1FEC6;
    padding: 5px 7px;
    cursor: pointer;
}

#menu > ul > li > a:hover {
    color:#FF3A20;
    transition: 400ms ease-in-out;
}



section {
   
    height:calc(100vh - 60px);
    width: 100%;
    padding: 0px;
 

}


h1#rafting {
    
    font-size: 50px;
    color: white;
    margin: auto;
    margin-top: 100px;
    
}

section#rafting > p {
   
    margin: auto;
    margin-top:20px;
    font-size: 15px;
    color: white;
    text-align: center;
    width: 80vw;
    line-height: 30px;
}

a#rafting {
    display: block;
    margin: auto;
    margin-top: 20px !important;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#cards {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 90%;
}

#cards > div {
    margin-top: 10px;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-color: #F1FEC6;
    cursor: pointer;
}

#cards > div:hover {
    transform: translateY(-5px);
    transition: 400ms ease;
}

#cards > div > img {
    height: 200px;
    width: 100%;
}