@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue1:#1F75FE;
    --blue2:#041E42;
}

#ok {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height:40px;
    width:40px;
    cursor: pointer;
}

#ok:hover {
    transform: scale(1.1);
    transition: 300ms ease;
}

#ok:active {
    transform: scale(0.9);
}

#logo {
    position: fixed;
    top:5px;
    left:20px;
    height:70px;
    width:70px;
    z-index:150;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
    padding: 0px;
    margin: auto;
    background-color: var(--blue1);

}

body {
    --sb-track-color: #232E33;
    --sb-thumb-color:var(var(--blue1));
    --sb-size:10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius:0px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius:0px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


#sosyalmedya {
    height: fit-content;
    width: fit-content;
    padding:5px;
    position: fixed;
    top: 50%;
    right:0px !important;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

#sosyalmedya > a > img {
    height:30px;
    width: 30px;
    cursor: pointer;
}

#sosyalmedya > a > img:hover {
    transform: scale(1.1);
    transition: 300ms ease;
}

#menu {
    position: fixed;
    top: 0;
    height:80px;
    width: 100%;
    background-color:rgba(0,0,0,0.7);
    padding: 0px;
    z-index: 100;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items:center;
}

#menu > ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
}

#menu > ul > li {
    display: inline-block;
}

#menu > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 5px;
    color: #F1FEC6;
    padding: 5px 7px;
    cursor: pointer;
}

#menu > ul > li > a:hover {
    color:var(--blue1);
    transition: 400ms ease-in-out;
}



#sections {
    margin: auto;
    height: fit-content;
    width: 100%;

}


#herosection {
    margin: auto;
    height:100vh;
    width: 100%;
    background-image: url("images/raftinghero.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms ease;
}


#herosection > div {
    
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#herosection > div#herocontent > h1 {
    margin: auto;
    font-size:80px;
    letter-spacing: 5px;
    background-color: rgba(0,0,0,0.1);
    color: white;
    width: fit-content;
    padding: 5px 10px;
}

#herosection > div#herocontent > p {
    margin: auto;
    margin-top: 10px;
    font-size:18px;
    letter-spacing: 4px;
    height:fit-content;
    background-color:rgba(0,0,0,0.4);
    color:#F1FEC6;
    width:80vw;
    padding: 10px 20px;
   
}

#hakkimizda {
    margin: auto;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
  
}

#hakkimizda {
    height: fit-content;
    width: 100%;
}

#hakkimizda > div {
    height: 100%;
    width: 100%;
    padding: 10px;
}

#hakkimizda > div > h1 {
    margin: auto;
    margin-top: 20px;
    font-size:40px;
    color: white;
    width: 80%;
}

#hakkimizda > div > p {
    margin: auto;
    margin-top: 10px;
    font-size:20px;
    color: white;
    width: 80%;
    text-align: justify;
}


#section2 {
    margin: auto;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
  
}

#section2 > div {
    height: 100%;
    width: 50%;
    padding: 10px;
}

#section2 > div > img {
    height: 100%;
    width: 100%;
}

#section2 > div > h1 {
    margin: auto;
    margin-top: 100px;
    font-size:40px;
    color: white;
    width: 80%;
}

#section2 > div > p {
    margin: auto;
    margin-top: 10px;
    font-size:15px;
    color: white;
    text-align: justify;
    width: 80%;
}

#section3 {
    margin: auto;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
  
}

#section3 > div {
    height: 100%;
    width: 50%;
    padding:20px;
}

#section3 > div > img {
    height: 100%;
    width: 100%;
}

#section3 > div > h1 {
    margin: auto;
    margin-top: 100px;
    font-size:40px;
    color: white;
    width: 80%;
}

#section3 > div > p {
    margin: auto;
    margin-top: 10px;
    font-size:15px;
    color: white;
    text-align: justify;
    width: 80%;
}

/* GALERİ DİVİNİN TASARIMI */

#galeri {
    margin: auto;
    height:fit-content;
    width: 100%;
  
}

#galeri > #fotograflar {
    margin: auto;
    height: fit-content;
    width:100%;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 5px;
}

.yeniresim {
    height:300px;
    width:300px;
    cursor: pointer;
    border-radius: 5px;
}

.popupdiv {
    height:90vh;
    width:90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 200;
}

.popupimage {
    height: 100%;
    width: 100%;
}

img.kapat {
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

#galeri > #fotograflar > .yeniresim:hover {
    transition: 400ms ease;
    box-shadow: 0 0 10px black;
    transform: translateY(-3px);
}

#galeri > h1 {
    margin: auto;
    margin-top:40px !important;
    font-size:40px;
    color: white;
    width: 80%;
}

footer#footer {
    height:100vh;
    width: 100%;
    padding: 5px;
    width: 100%;
    background-color:var(--blue1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer > div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F1FEC6;
}

#footer > #haritadiv > iframe {
    height: 100%;
    width: 100%;
}

#footer > #iletisimdiv > div > h2 {
    font-size: 40px;
    letter-spacing: 4px;
}